@import '../../../style/style.scss';

.hamburger {
    height: 35px;
    width: 35px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    cursor: pointer;
}
.hamburgerLine {
    width: 30px;
    height: 3px;
    background: var(--hamburger-line);
}
.hamburgerLine:nth-child(3) {
    width: 24px;
}

@media (max-width: 992px) {
    .hamburger {
        display: flex;
    }
}
